.custom-button {
  width: 100%;
  border-radius: 8px !important;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  
  &.mat-primary {
    background-color: #004D61; 
    color: #FFFFFF;
  }

  // Disabled state styling
  &:disabled,
  &.mat-mdc-button-disabled {
    background-color: #E0E0E0 !important; // Background color when disabled
    color: #9E9E9E !important; // Text color when disabled
  }
}
