.container-extrato {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 24px;
  position: fixed;
  height: 81vh;

  h2 {
    font-weight: 700;
    font-size: 25px;
    color: #ff5031;
  }
}

.container-item {
  display: flex;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cbcbcb;
  padding: 10px 0;

  &:last-child {
    border-bottom: none;
  }

  .item-details {
    h4 {
      margin: 0;
      padding-top: 5px;
    }

    p {
      margin: 0;
      color: #47a138;
      font-size: 0.9em;
    }
  }

  hr {
    display: none;
  }
}

.actions {
  display: flex;
  gap: 8px;

  button {
    background-color: #004d61;
    color: #fff;
  }
}

@media screen and (max-width: 1210px) {
  .container-extrato {
    position: relative;
    height: fit-content;
  }
}
