.container-extrato {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 24px;
    height: 100%;

    h2{
        font-weight: 700;
        font-size: 25px;
    }
}

.container-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #47A13880;
    padding: 8px 0;
    
    &:last-child {
        border-bottom: none;
    }

    .item-details {
        h4 {
            margin: 0;
            padding-top: 5px;
        }

        p {
            margin: 0;
            color:#47A138;
            font-size: 0.9em;
        }
    }

    hr {
        display: none; 
    }
}

.actions{
    display: flex;
    gap: 8px;

    button{
        background-color: #004D61;
        color: #fff;
    }
}