.container_navegador {
  background-color: #ffff;
  padding: 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  a {
    font-family: 'Inter', sans-serif;
    color: #004d61;
  }

  .divisor {
    width: 70%;
    border: 0;
    height: 1px;
    background-color: #004d61;
    margin: 16px 0px;
  }
}

.ant-divider-horizontal {
  margin: 10px 0px;
}

@media screen and (max-width: 992px) {
  .container_navegador {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: var(--spacing-medium);
  }

  .ant-divider-horizontal {
    display: none;
  }
}
