.container_navegador {
  background-color: #ffff;
  padding: 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 96%;

  a {
    font-family: 'Inter', sans-serif;
    color: #004d61;
    text-align: center;
  }

  .divisor {
    width: 70%;
    border: 0;
    height: 1px;
    background-color: #004d61;
    margin: 16px 0px;
  }
}

@media screen and (max-width: 1210px) {
  .container_navegador {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 12px 24px;
    height: fit-content;
  }

  .divisor {
    display: none;
  }
}
