.topbar-container {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #004d61;
  z-index: 1000;

  .topbar-content {
    display: flex;
    align-items: center;
    gap: 15px;

    h4 {
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      font-size: 13px;
      color: #ffff;
    }

    .icone-logout {
      color: #ff5031;
    }
  }
}
