.custom-select-field {
  width: 100%;
  margin-bottom: 16px;

  ::ng-deep .mdc-notched-outline__leading {
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    width: 12px !important;
    padding-left: 12px !important;
  }

  ::ng-deep .mdc-notched-outline__trailing {
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
  }

  ::ng-deep .mdc-notched-outline__leading,
  ::ng-deep .mdc-notched-outline__notch,
  ::ng-deep .mdc-notched-outline__trailing {
    border-width: 1px !important;
    border-color: #004d61 !important;
  }

  &:hover ::ng-deep .mdc-notched-outline__leading,
  &:hover ::ng-deep .mdc-notched-outline__notch,
  &:hover ::ng-deep .mdc-notched-outline__trailing {
    border-color: #004d61 !important;
  }
}

::ng-deep .mat-mdc-select-panel {
  background-color: #ffffff !important;
}

::ng-deep .mat-mdc-option {
  background-color: #ffffff !important;
  &:hover {
    background-color: #f5f5f5 !important;
  }
  &.mat-mdc-option-active {
    background-color: #ebebeb !important;
  }
}

.custom-select {
  padding-left: 12px;
}
