<div class="nova-transacao-container" [style.backgroundColor]="palette.cinza300">
  <div class="nova-transacao-content">
    <h2 [style.color]="palette.azul700">Nova transação</h2>
    <div class="form-group">
      <div class="form-group">
        <app-select
          label="Tipo de transação"
          id="type"
          [(ngModel)]="type"
          name="type"
          [options]="tiposDeTransacao"
          placeholder="Selecione um tipo"
        ></app-select>
      </div>

      <app-input
        label="Valor"
        id="value"
        type="number"
        [(ngModel)]="value"
        name="value"
        placeholder="Digite o valor da transação"
      ></app-input>
    </div>

    <div class="form-group">
      <app-upload
        label="Anexo PDF"
        placeholder="Clique para selecionar o PDF"
        (ngModelChange)="handleFileUpload($event)"
        [(ngModel)]="tempFile"
        name="anexo"
      ></app-upload>
    </div>

    <app-button
      type="submit"
      label="Nova transação"
      [disabled]="isFormInvalid"
      (onClick)="novaTransacao()"
      backgroundColor="{{ palette.verde500 }}"
    ></app-button>
  </div>
</div>
