.custom-input-field {
  width: 100%;
  margin-bottom: 16px;

  ::ng-deep .mdc-notched-outline__leading {
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    width: 12px !important;
    padding-left: 12px !important;
  }

  ::ng-deep .mdc-notched-outline__trailing {
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
  }

  ::ng-deep .mdc-notched-outline__leading,
  ::ng-deep .mdc-notched-outline__notch,
  ::ng-deep .mdc-notched-outline__trailing {
    border-width: 1px !important;
    border-color: #004d61 !important;
  }

  // Hover state
  &:hover ::ng-deep .mdc-notched-outline__leading,
  &:hover ::ng-deep .mdc-notched-outline__notch,
  &:hover ::ng-deep .mdc-notched-outline__trailing {
    border-color: #004d61 !important;
  }

  // Focus state
  &.mat-focused ::ng-deep .mdc-notched-outline__leading,
  &.mat-focused ::ng-deep .mdc-notched-outline__notch,
  &.mat-focused ::ng-deep .mdc-notched-outline__trailing {
    border-width: 2px !important;
  }
}

.custom-input {
  width: 100%;
  padding-left: 15px !important;
}
