main {
  background-color: #e4ede3;

  section {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 5fr 2fr;
    padding: 5vh 10vw;

    .container-principal {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}

@media (max-width: 1210px) {
  main section {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}
