main {
  background-color: #e4ede3;

  section {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 5fr 2fr;
    padding: 10vh 10vw 4vh 10vw;

    .container-principal {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .container-filtro {
        display: flex;
        gap: 16px;
        align-items: center;
      }
    }
  }
}

@media (max-width: 1677px) {
  main section {
    grid-template-columns: 1.3fr 5fr 2fr;
  }
}

@media (max-width: 1210px) {
  main section {
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 10vh 10vw;
  }
}
